<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="style.css" rel="stylesheet">
    <link href="font-awesome.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">EFC</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Members</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Events</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Engineering Freshmen Council</h1>
                <hr>
                <p>University of Illinois Urbana-Champaign's official council of Engineering Freshmen</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">What we do</h2>
                    <hr class="light">
                    <p class="text-faded"> Paragraph on what we do </p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Commitee Members 2016-2017</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Sturdy Templates</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="newsletter" class="section-content section-parallax">
        <div class="bg-overlay pattern">
            <div class="container">
                <div class="row mbxxl">
                    <div class="col-lg-12">
                        <h2 class="section-heading">Newsletter</h2>
                        <div class="line"></div>
                        <p class="section-description">Stay up to date with the latest updates, promotions and events about EFC.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <form action="#" class="form-newsletter">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control" style="width:530px" id="newsletteremail" name="newsletteremail" placeholder="Email..."/>
                            </div>
                            <br>
                            <div class="input-group input-group-lg">
                                <span class="input-group-btn"><button type="button" class="btn btn-primary" id="subcorp">Subscribe - Corporate</button></span>
                                <span class="input-group-btn"><button type="button" class="btn btn-primary" id="substudent">Subscribe - Student</button></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Free Download at Start Bootstrap!</h2>
                <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>
            </div>
        </div>
    </aside>

    <section id="contact" class="section-content">
        <div class="container">
            <div class="row mbxxl">
                <div class="col-lg-12">
                    <h2 class="section-heading"><span>Contact</span> Us</h2>
                    <div class="line"></div>
                    
                </div>
            </div>
        </div>
        <div class="container">
            <form action="#">
                <div class="row mtxxl">
                    <div class="col-lg-6">
                        <h3 class="title">Location</h3>
                        <table class="tb-info-us table-striped mbl">
                            <tbody>
                                <tr>
                                    <td>Engineering Council</td>
                                </tr>
                                <tr>
                                    <td>University of Illinois at Urbana-Champaign</td>
                                </tr>
                                <tr>
                                    <td>103 C Engineering Hall | 1308 W. Green St. | Urbana, IL 61801</td>
                                </tr>
                                <tr>
                                    <td>Phone: (217) 244-3828</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="social">
                        <a target="_blank" href="" class="ico-socialize-twitter1 ico-socialize type2 ico-lg"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="" class="ico-socialize-facebook1 ico-socialize type2 ico-lg"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="" class="ico-socialize-google2 ico-socialize type2 ico-lg"><i class="fa fa-google-plus"></i></a>
                        
                        
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <p style="text-align:left; font-size:16px;">If you have any general questions please contact our members at member@efc.illinois.edu<br>
                    If you have any questions regarding payments, please contact our Treasurers at treasurer@efc.ec.illinois.edu<br>
                    Lastly, if you have any questions regarding the website, please contact our Webmasters at webmaster@efc.ec.illinois.edu</p>
                    </div>
                    
                </div>
            </form>
        </div>
    </section>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/scroll-reveal.js"></script>
    <script src="/magnific-popup.js"></script>

    <!-- Theme JavaScript -->
    <script src="/client.js"></script>
    <script src="/wow.min.js"></script>
    
    <!-- FontAwesome CDN -->
    <script src="https://use.fontawesome.com/fcb170d64e.js"></script>

</body>

</html>
